---
import {Content as DoLess} from "../topics/do-less.md";
import {Content as Pareto8020} from "../topics/80-20.md";
import {Content as Communication} from "../topics/communication.md";
import {Content as Trust} from "../topics/trust.md";
---
<h2>
    Chapter 1: Evitar lo innecesario
</h2>
<DoLess/>
<Pareto8020/>
<hr>
<br>
<br>
<br>
<h2>
    Chapter 2: <span style="background: orangered">Busca el lugar. Si no existe, construyelo</span>
</h2>
<br>

<Communication/>
<Trust/>