---
import {Content as DoLess} from "../topics/do-less.md";
import {Content as Pareto8020} from "../topics/80-20.md";
import {Content as Communication} from "../topics/communication.md";
import {Content as Trust} from "../topics/trust.md";
---
<h2>
    Chapter 1: Evitar lo innecesario
</h2>
<DoLess/>
<Pareto8020/>
<hr>
<br>
<br>
<br>
<h2>
    Chapter 2: <span style="background: orangered">Busca el lugar. Si no existe, construyelo</span>
</h2>
<p>
    Todo se hace mas fácil y fluido cuando somos buenos al comunicar, mediar, llevar reuniones, escribir, etc. 
    Debemos observar a quienes saben, aprender. 
    Por otro lado, si no tenemos referentes, hay que siempre poner de parte de uno, intentar mejorar.
    Debemos intentar responder de forma sincera preguntas como
    - Mi mensaje se entiende?
    - Cuando me hablan de vuelta, me explican algo similar
    - Los resultados que obtenemos dentro del equipo de trabajo. Están dentro de lo que esperamos? Como defino lo que espero?
    La mayoria de las veces no será blanco o negro, no es que trabajar con el equipo A me dara todas las respuestas,
    y tampoco existe un equipo tan malo que no tenga ningun aporte, y tenga que resolver todo yo, sino que en realidad siempre es
    un matiz entre medio de ambos extremso. Tendremos a nuestro lado personas que saben algo de esto, pero no son <i>expertos</i> en todo.
    Bienvenido a la realidad, así es la vida. No siempre estarémos con personas expertas en todo. De hecho, muy pocas veces.
    En ese último caso, estamos entremedio, y cas
</p>
<p>En los siguientes apartados describiré mas en detalle los aspectos que debemos construir entre todos</p>
<br>

<Communication/>
<Trust/>